#signin {
    color: blanchedalmond;
}

.logo {
    padding: 175px 300px 25px 300px;
}

.searchBar {
    padding: 1px 100px 1px 150px;
}

.header-left-nav {
    color: black;
    padding: 10px 10px 10px 0px;
}
.header-right-nav {
    color: black;
    padding: 10px 10px 10px 0px;
}

#footer-nav-left {
    color: black;
    padding: 10px 10px 10px 0px;
}

#footer-nav-right {
    color: black;
    padding: 10px 10px 10px 0px;
}

#search {
    padding: 10px 100px 10px 100px;
    display: flex;
    margin: auto;
}

.searchButtons {
    padding: 10px 10px 100px 300px;
    margin-block: block;
}